@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Cairo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,900&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Russo+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,900&family=Lemonada:wght@700&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Russo+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Russo+One&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*Header*/
header {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  box-shadow: 2px 2px 30px black;
}
.main .glass .s1 {
  font-family: Lemonada;
  color: white;
  margin-bottom: 25px;
  text-shadow: -1px 8px 10px black;
}

.main .glass h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.main .glass h3 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.logo {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
  margin-left: 50px;
}
.logo:hover {
  transition: 0.5s;
  color: #601cfc;
  text-decoration: none;
}

.navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 500;
  padding-left: 40px;
  font-family: Russo One;
}

.navigation a:hover {
  color: #601cfc;
  transition: 0.5s;
}
/*End Header*/
section {
  padding: 100px 200px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(https://scontent.fcai19-6.fna.fbcdn.net/v/t39.30808-6/274699997_2801400760163799_2353133000559874394_n.jpg?_nc_cat=105&cb=99be929b-59f725be&ccb=1-7&_nc_sid=0debeb&_nc_ohc=rlh3ZCLM3FcAX_VrcwJ&_nc_ht=scontent.fcai19-6.fna&oh=00_AfAJFrJZXBA2MMfX0r8_2IeuFOd0lKFwWc4AGnp2LO38zA&oe=64ABAB44)
    no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.main div h2 {
  font: 100;
}
.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #6600ff;
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
  position: relative;
}

.main-btn:hover {
  background-color: #0234c0;
  transform: scale(1.1);
  transition: 2s;
  color: white;
  text-decoration: none;
}

.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}

.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.projects {
  background-color: #000000;
}
.projectss {
  background-color: #070707;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover .project-image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
  height: 450px;
}

.project-info {
  padding: em;
}

.project-category {
  font-size: 0.8em;
  color: #000;
}
@media screen and (max-width: 999999px) {
  section {
    padding: 50px 20px;
  }

  .main h2 {
    font-size: 1.2em;
  }

  .main h2 span {
    font-size: 2em;
  }

  .main h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .main-btn {
    font-size: 1em;
    padding: 0.75em 1.5em;
    margin-bottom: 30px;
  }

  .social-icons a {
    font-size: 1.5em;
    padding-right: 15px;
  }

  .title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .card {
    width: 15em;
    padding: 20px;
    margin: 10px;
  }

  .card .icon {
    font-size: 6em;
  }

  .info h3 {
    font-size: 1em;
    margin: 5px;
  }

  .project-card {
    min-height: 12em;
    width: 20em;
    margin: 10px;
  }

  .project-image img {
    height: 370px;
  }

  .project-info {
    padding: 0.5em;
  }

  .project-category {
    font-size: 0.7em;
  }
  .photo {
    width: auto;
    height: auto;
  }
}
.style {
  display: flex;
  justify-content: center;
}
.project-category {
  display: flex;
  justify-content: center;
}
.new-sec {
  color: #fff;
  background-color: #000;
}
.projectss .project-info span {
  color: black;
}
.ABOUT .infoo .about-creator {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.ABOUT .infoo img {
  height: 230px;
  border: solid 1px;
  margin-left: 25px;
}
.hades {
  margin-left: 20%;
  font-size: 28px;
  margin-top: 2%;
}
.imgg {
  display: flex;
  justify-content: center;
}
.ww {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.WW .span-me {
  font-weight: bold;
  text-decoration: underline;
}
/*media small */
@media (max-width: 480px) {
  .ABOUT .infoo .icoon {
    display: flex;
    justify-content: center;
  }
  .glass{
    margin-top: 60px;
  }
  .imgg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
  }
  .main .glass h1 {
    font-size: 14px;
  }
  .main .glass h2 {
    font-size: 15px;
  }
  .main .glass h3 {
    font-size: 14px;
  }
  .main-btn {
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin-top: 25px;
  }
  .creator-icon .iconn {
    height: px;
  }
  .ABOUT {
    height: 2200px;
  }
}
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 19px;
}
.ABOUT .infoo img {
  height: 270px;
  border: solid 1px;
  margin-top: 20px;
}
/*Tablets*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .ABOUT .infoo .icoon {
    display: flex;
    justify-content: center;
  }
  .ABOUT .infoo img {
    height: 183px;
    border: solid 1px;
    margin-left: 12px;
  }
  .main .glass h1 {
    font-size: 34px;
  }
  .main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    position: relative;
    left: 230px;
  }
  .ABOUT {
    height: 1800px;
  }
}
/*Galaxy*/
@media screen and (min-device-width: 412px) and (max-device-width: 914px) {
  .creator-icon lord-icon {
    width: 250px;
    height: 50px;
    margin-left: 22px;
  }
}
footer {
  height: 70px;
  background-color: #000;
}
.creator-icon {
  display: flex;
  justify-content: center;
}
.ABOUT .infoo .icoon {
  display: flex;
  justify-content: center;
}
/*MEDIA FAST MEDIA QUERE */
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (max-width: 450px) and (min-device-width: 300px) {
  header {
    padding: 10px 10px;
  }
  .logo {
    font-weight: 700;
    font-size: 1.4em;
    margin-left: 10px;
  }
  .navigation a {
    font-size: 0.6em;
    font-weight: 300;
    padding-left: 8px;
  }
}
/*TABLETS*/
@media only screen and (max-width: 920px) and (min-width: 500px) {
  .logo {
    font-weight: 700;
    font-size: 2em;
    margin-left: 20px;
  }
  .navigation a {
    font-size: 1.2em;
    font-weight: 300;
    padding-left: 25px;
  }
  header {
    padding: 10px 10px;
  }
}
/*NEW-HEADER*/
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
  height: 60px;
  background: white;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 20px 4px black;
  z-index: 999;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
  transition: 0.8s;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
  transition: 0.5s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.loggo h1{
  font-size: 25px;
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: 900  ;
}
@media (max-width:767px){
  .loggo h1{
  font-size: 20px;
}
}
.btnn{
  justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
}
